<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  </script>
<% end %>
<script src='https://www.google.com/recaptcha/api.js?render=explicit' async defer></script>

<main id="root"><h3> If you see this, something is deeply, and utterly wrong :(</h3></main>
