// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-image: linear-gradient(to bottom, #F037A5 -90%, #FAE62D 140%);
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  min-height: 900px;
}
@media (min-width: 992px) {
  .welcome-box {
  width: 1610px;
  height: 1523px;
  background-size: 100%;
}
}
.welcome-box {
  background-image: url(/assets/splash/background-bubbles.svg);
  // background-position: center;
  background-position: -50px -400px;
  width: 100vw;
  border-image-repeat: stretch;
  background-position: center;
  background-size: 112%;
  background-repeat: no-repeat;
  min-height: 900px;
  height: 100vh;

  .container {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 80px;

    .navbar-main-elements {
      display: block !important;
      height: inherit;
      min-width: 940px;
      max-width: 1140px;
      width: 100%;

      .header-logo-link {
        float: left;
        background-image: url(/assets/logos/Spotify_Logo_RGB_White.png);
        width: 132px;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: 132px 40px;
      }
    }
    a {
      align-self: center;
      float: right;
      padding: 29px 34px;
      font-family: Circular, Helvetica, Arial, sans-serif;
      font-size: 15px;
      font-weight: 900;
      line-height: 24px;
      color: white;
      text-decoration: none;
      padding-right: 0;
    }
    .grayed-link {
      color: #D9DADC;
    }
      a:hover {
        outline: 0;
        color: #1ED760;
      }
    .divider {
      padding: 20px;
      width: 10px;
      height: 16px;
      color: black;
      z-index: 10;
    }
    }
  }
.splash-footer {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  background-color: black;
  height: 540px;
}
