
  .browse-component {
    padding: 20px 32px 12px 32px;
    display: flex;
    flex-direction: column;
    height: 96%;

    .contents-header-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0 0 12px 0;
      margin: 0;

      .c-header-item {

        .c-header-item-link {
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.13em;
        }
      }
    }

    .new-playlist-button-container {
      font-size: 12px;
      font-weight: 700;
      font-family: 'M PLUS Rounded 1c', sans-serif;
      line-height: 1;
      border-radius: 500px;
      margin-top: 30px;
      padding: 10px 48px 18px;
      letter-spacing: 1px;
      min-width: 160px;
      text-transform: uppercase;
      white-space: normal;
      background: #3B5998;
      color: white;
      margin-bottom: 15px;
    }
    .welcome-message {
      font-size: 36px;
      line-height: 44px;
      letter-spacing: -.005em;
      font-weight: 600;
      color: #fff;
      text-transform: none;
      margin: 24px 0;
    }
  }
