
  .browse-component {
    padding: 20px 32px 12px 32px;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    .contents-header-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0 0 12px 0;
      margin: 0;

      .c-header-item {

        .c-header-item-link {
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 0.13em;
        }
      }
    }
    .welcome-message {
      font-size: 36px;
      line-height: 44px;
      letter-spacing: -.005em;
      font-weight: 600;
      color: #fff;
      text-transform: none;
      margin: 24px 0;
    }
  }
