.credentials-form-container {
  width: 100vw;
  height: 888px;
  display: flex;
  flex-direction: column;

  .credentials-header {
    display: flex;
    width: 100vw;
    height: 108.66px;
    border-bottom: 1px solid #dfe0e6;

    @media (max-width: 770px) {
      height: 57.66px;
    }

  .logo-link-container {
    width: 100%;
    display: flex;

    .logo-link {
      margin: auto;
      background-image: image_url(Dotify_Logo_RGB_Black);
      background-size: 197px 60px;
      background-repeat: no-repeat;
      width: 200px;
      height: 60px;

      @media (max-width: 770px) {
        background-size: 125px 37px;
        width: 125px !important;
        height: 42px !important;
      }
      }
    }
  }
  .credentials-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .login-form-box {
      min-width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 4px;

      #g-recaptcha {
        padding: 20px;
      }
      .login-form {
        display: flex;
        min-width: 450px;
        flex-direction: column;
        align-items: center;
        .or-login-container {

          .or-statement {
            display: flex;
            font-family: 'M PLUS Rounded 1c', sans-serif;

            .line-thru {
              font-size: 11px;
              padding-top: 6px;
              padding-left: 0px;
              font-family: inherit;
              font-weight: 600;
            }
            .or {
              font-size: 12px;
              margin-top: -6px;
            }
            .line {
              float: left;
              width: 188px;
              height: 1px;
              border-bottom: 1px solid #dfe0e6;
              margin: 8px 18px;
            }
        }
        h2 {
          font-family: 'M PLUS Rounded 1c', sans-serif;
          font-size: 18px;
          font-weight: 800;
          text-align: center;
          margin-top: 0;
          letter-spacing: -0.5px;


        }
      }

        button {
          font-size: 12px;
          font-weight: 700;
          font-family: 'M PLUS Rounded 1c', sans-serif;
          line-height: 1;
          border-radius: 500px;
          margin-top: 30px;
          padding: 10px 48px 18px;
          letter-spacing: 1px;
          min-width: 160px;
          text-transform: uppercase;
          white-space: normal;
          background: #3B5998;
          color: white;
          margin-bottom: 15px;
        }

        button:hover {
          background: #4E76C9;

          transition: 0.4s;
        }

        .signup-specific {
          padding: 19px 46px 18px;
          font-weight: 800;
          font-size: 13px;
        }

        .signup-grn-btn {
          padding: 15px 48px 18px;
          margin-top: 13px;
          font-size: 13.5px;
        }


        .input-item {
          padding: 6.8px;
          margin: 0;
          margin-bottom: -3px;

          :focus {
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            outline: 1px solid gray;
            border: none;
          }

          .login-input {
            width: 450px;
            height: 50px;
            border: 1px solid #dfe0e6;
            box-sizing: border-box;
            font-weight: 500;
            font-size: 14px;
            padding-left: 10px;
          }

        }
      }

    }
    .other-form {
      width: inherit;
      padding-top: 15px;
      font-family: Circular,Helvetica,Arial,sans-serif;
      font-size: 15.8px;
      font-weight: normal;
      line-height: 1.5;

      a {
        text-decoration: none;
        color: #1db954;
      }

      a:hover {
        color: #1ED760;
        transition: 1s;
      }
    }
  }
}
.session-submit {
  font-size: 12px;
  font-weight: 700;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  border: 0;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  letter-spacing: 1px;
  width: 320px;
  text-transform: uppercase;
  white-space: normal;
  color: white;
  background-color: #1DB954;


}
.session-submit:hover{
  background-color: #1ED760;
  transition: 0.4s;
}
.login-specific {
  width: 97%;
  height: 32px;
  padding: 0;
  font-size: 13px;
  margin-top: 27px;
}
.signup-specific {
  width: 320px;
  padding: 24px;
}

.login-specificundefined {
  width: 95%;
  padding: 8px;
  margin-top: 20px;
}
