.random-song-list {
  display: flex;
  flex-direction: column;
  :hover {
    background-color:rgba(0, 0, 0, 0.3);
    transition: 0.4s;
  }
  .song-item {
    color: white;
    height: 4.56em;
    display: flex;
    flex-direction: row;
    text-overflow: ellipsis;

    :hover {
      background-color: rgba(0, 0, 0, 0);
      transition: none;
    }

    .cute-icon {
      padding-right: 14px;
      color: gray;

      :hover {
        color: white;
      }

      :active {
        color: green;
      }
    }
    .track-details-container {
      display: flex;
      flex-direction: column;
      max-width: 70%;
      .track-title {
        max-height: 20px;
        color: #fff;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        overflow: hidden;
      }
      .other-track-details {
        display: flex;
        flex-direction: row;
        color: gray;

        .line-separator {
          padding: 0px 8px 0px 8px;
        }
      }
    }
    .track-length {
      margin: 0 auto;
      margin-right: 0;
      padding-right: 14px;
    }

  }
}

.artist-link:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.track-title:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.album-link:hover {

  border-bottom: 1px solid #fff;
  a {
    color: #fff;
  }
}

.detail-contents {
  max-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;

  .artist-link {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: 500;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: hsla(0,0%,100%,.6);
    text-transform: none;
    max-height: 560px;
    text-decoration: none;
    }
  .album-link {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: 500;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: hsla(0,0%,100%,.6);
    text-transform: none;
    max-height: 560px;
    text-decoration: none;
  }
}

.playlist-side-container {
  .random-song-list:hover {
      all:none;
    }
}
