.webplayer-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-image: linear-gradient(rgb(18, 18, 18), rgb(8, 8, 8) 85%);

  .all-content {
    background-image: linear-gradient(rgb(64, 51, 102), rgb(6, 5, 10) 85%);
    height: 98%;
    display: flex;
    flex-direction: row;

    .navbar-options {
      width: 220px;
      height: inherit;
      background-color: rgba(0,0,0,.8);
      z-index: 10;

      @media (max-width: 720px) {
        width: 80px;
      }

      .navbar-header {
        width: 100%;
        display: flex;

        @media (max-width: 720px) {
          height: 70px
        }
        .home-link {
          background-image: image_url('Dotify_Logo_RGB_White.png');
          background-size: 131px 40px;
          background-repeat: no-repeat;
          width: 131px;
          height: 40px;
          margin: 24px;

          @media (max-width: 720px) {
            background-image: image_url('Spotify_Icon_RGB_White.png');
            background-size: 32px 32px;
            width: 32px;
            height: 32px;
            margin-left: 22px;
            margin-top: 24px;
          }
        }
      }
      ul {
        padding-left: 24px;

        .navbar-group {
          display: flex;
          flex-direction: row;
          color: white;
          font-family: 'M PLUS Rounded 1c', sans-serif;
          font-weight: 800;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.6);
          @media (max-width: 720px) {
            padding-left: 0;
          }

          :focus {
            border: 5px solid green;
          }

          .icon {
            height: 28px;
            color: rgba(255, 255, 255, 0.6);
            width: 31px;
            padding-bottom: 20px;


          }
          .navbar-text {
            text-decoration: none;
            padding-left: 15px;
            padding-top: 6px;
            color: gray;
            margin: 0;

            :hover {
              font-size: 50px;
              color: white;
            }
            @media (max-width: 720px) {
              display: none;
            }
          }
          hr {
            height: 23px;
            border: 1px solid rgba(255, 255, 255, 0.6);
            width: 0px;
            padding: 0;
            margin: 3px;
          }
         .rotated-line {
           transform: rotate(-28deg);
           margin-left: 7px;
           margin-top: 2px;
           height: 24px;
         }
        }
      }
      .recently-played {

      }
      .navbar-logout {
        button {
          margin-top: 169px;
          background-color: #1db954;
          height: 20px;
          font-family: inherit;
          font-weight: 800;
          border-radius: 15px;
          font-size: 15px;
        }
      }
    }
    .content-container {
      flex-grow: 100;
      .results-container {
        max-height: 100%;
        overflow-y: auto;
        padding-bottom: 8%;
      }
    }
  }

  .footer-container {
    z-index: 999;
    background-color: #282828;
    height: 115px;
    width: inherit;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    .music-controller-container {
      height: 90px;
    }

    .now-listening-container {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: .015em;
      background-color: #1db954;
      color: #fff;
      height: 24px;
      line-height: 24px;
      padding: 0 16px;
      text-align: right;
      position: relative;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
  }
}


.navbar-group:hover {
  a {
    color: green;
    padding: 1px;
  }
}
.navbar-group:click {
  color: green;
}
.navbar-group:active {
  color: green;
  border: 3px solid red;
}

.navbar-text:hover {
  color: white;
}




// background gradients grabbed from spotify; not all are used
.browse_featured {
  background-image: linear-gradient(rgb(91, 62, 81), rgb(9, 6, 8) 85%) !important;
}

.collection_playlists {
  background-image: linear-gradient(rgb(92, 71, 61), rgb(9, 7, 6) 85%) !important;
}
.browse_podcast {
  background-image: linear-gradient(rgb(104, 49, 56), rgb(10, 5, 6) 85%) !important;
}

.browse_charts {
  background-image: linear-gradient(rgb(31, 80, 108), rgb(3, 9, 12) 85%) !important;
}
.browse_discover {
  background-image: linear-gradient(rgb(31, 80, 108), rgb(3, 9, 12) 85%) !important;
}

.collection_tracks {
  background: linear-gradient(rgb(30, 50, 100), rgb(4, 6, 12) 85%) !important;
}


.collection_albums {
  background-image: linear-gradient(rgb(70, 77, 83), rgb(7, 8, 8) 85%) !important;
}

.collection_artists {
  background-image: linear-gradient(rgb(91, 62, 81), rgb(9, 6, 8) 85%) !important;
}

.collection_made_for_you {
  background-image: linear-gradient(rgb(90, 63, 71), rgb(9, 6, 7) 85%) !important;
}
