.webplayer-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-image: linear-gradient(rgb(18, 18, 18), rgb(8, 8, 8) 85%);

  @media (max-width: 768px) {
    min-width: 768px;
  }
  .all-content {
    background-image: linear-gradient(rgb(64, 51, 102), rgb(6, 5, 10) 85%);
    height: 98%;
    display: flex;
    flex-direction: row;

    .navbar-options {
      padding-left: 24px;
      padding-right: 24px;
      width: 172px;
      height: 87%;
      background-color: rgba(0,0,0,.8);
      z-index: 10;

      @media (max-width: 720px) {
        width: 80px;
        position: fixed;
      }

      .side-bar-list {
        padding-bottom: 10px;
        border-bottom: 1px solid gray;

        .magnifying-glass {
          padding-bottom: 25px;
        }
      }

      .navbar-header {
        width: 100%;
        display: flex;

        @media (max-width: 720px) {
          height: 70px
        }

        .home-link {
          background-image: image_url('Dotify_Logo_RGB_White.png');
          background-size: 131px 40px;
          background-repeat: no-repeat;
          width: 131px;
          height: 40px;
          margin: 24px;

          @media (max-width: 720px) {
            background-image: image_url('Spotify_Icon_RGB_White.png');
            background-size: 32px 32px;
            width: 32px;
            height: 32px;
            margin-left: 22px;
            margin-top: 24px;
          }
        }
      }
      ul {
        padding-left: 24px;
        .active {
          color: green;
        }
        .navbar-group {
          display: flex;
          flex-direction: row;
          color: white;
          font-family: 'M PLUS Rounded 1c', sans-serif;
          font-weight: 800;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.6);
          transition: 0.4s;
          @media (max-width: 720px) {
            padding-left: 0;
          }
          .active {
            color: green;
          }

          &:hover {
            color: white;
            .navbar-text {
              color: white;
              
            }
            .line {
              transition: 0.4s;
              border: 1px solid white;
            }
          }

          .icon {
            height: 28px;
            color: rgba(255, 255, 255, 0.6);
            width: 31px;
            padding-bottom: 20px;

          }
          .fa-search {
            font-size: 26px;
          }
          .fa-home {
            font-size: 32px;
            padding-bottom: 25px;
          }
          .navbar-text {
            text-decoration: none;
            padding-left: 15px;
            padding-top: 6px;
            color: gray;
            margin: 0;
            transition: 0.4s;



            @media (max-width: 720px) {
              display: none;
            }
          }

          .line {
            height: 23px;
            border: 1px solid rgba(255, 255, 255, 0.6);
            width: 0px;
            padding: 0;
            margin: 3px;
          }
         .rotated-line {
           transform: rotate(-28deg);
           margin-left: 7px;
           margin-top: 2px;
           height: 24px;
         }
        }
      }
      .recently-played {

      }
      .navbar-logout {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 44%;
        .navbar-username {
          align-self: center;
          overflow: hidden;
          text-overflow: ellipsis;
          color: white;
          margin-bottom: 5px;
        }
        button {
          align-self: center;
          width: 140px;
          background-color: #1db954;
          height: 20px;
          font-family: inherit;
          font-weight: 800;
          border-radius: 15px;
          font-size: 15px;
          border: 0;
          margin-bottom: 25px;
        }
        button:hover {
          height: 25px;
          transition: 0.3s;
        }
      }
    }
    .content-container {
      flex-grow: 100;
      overflow: hidden;
      height: 87%;
      @media (max-width: 768px) {
        padding-left: 50px;
      }
      .results-container {
        max-height: 100%;
        overflow-y: auto;
        padding-bottom: 8%;
      }
    }
  }

  .footer-container {
    z-index: 999;
    background-color: #282828;
    height: 115px;
    width: inherit;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    .music-controller-container {
      height: 90px;
    }

    .now-listening-container {
      font-size: 15px;
      line-height: 16px;
      letter-spacing: .015em;
      background-color: #1db954;
      color: #fff;
      height: 24px;
      line-height: 24px;
      padding: 0 16px;
      text-align: right;
      position: relative;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      .github-alt-logo {
        padding-right: 5px;
        color: black;
      }
    }
  }
}




// background gradients grabbed from spotify; not all are used
.browse_featured {
  background-image: linear-gradient(rgb(91, 62, 81), rgb(9, 6, 8) 85%) !important;
}

.collection_playlists {
  background-image: linear-gradient(rgb(92, 71, 61), rgb(9, 7, 6) 85%) !important;
}
.browse_podcast {
  background-image: linear-gradient(rgb(104, 49, 56), rgb(10, 5, 6) 85%) !important;
}

.browse_charts {
  background-image: linear-gradient(rgb(31, 80, 108), rgb(3, 9, 12) 85%) !important;
}
.browse_discover {
  background-image: linear-gradient(rgb(31, 80, 108), rgb(3, 9, 12) 85%) !important;
}

.collection_tracks {
  background: linear-gradient(rgb(30, 50, 100), rgb(4, 6, 12) 85%) !important;
}


.collection_albums {
  background-image: linear-gradient(rgb(70, 77, 83), rgb(7, 8, 8) 85%) !important;
}

.collection_artists {
  background-image: linear-gradient(rgb(91, 62, 81), rgb(9, 6, 8) 85%) !important;
}

.collection_made_for_you {
  background-image: linear-gradient(rgb(90, 63, 71), rgb(9, 6, 7) 85%) !important;
}

.active {
  color: green;
}

.vertlines {
  &:hover {
    .line {
      color: white;
    }
  }
}

.bars {
  div {
    padding-right: 4px;
    margin-right: 9px;
  }
  .css-1lcwneg {
    animation: hideshow 3s ease infinite,
    animation-14lyc0o 1s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.2s infinite normal both running;
  }
  .css-1nw7wdq {
    animation: hideshow 3s ease infinite,
    animation-14lyc0o 1s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.1s infinite normal both running;
  }
  .css-bjmnt9 {
    animation: hideshow 3s ease infinite,
    animation-14lyc0o 1s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.3s infinite normal both running;

  }
  .css-11zhka6 {
    animation: hideshow 3s ease infinite,
    animation-14lyc0o 1s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.4s infinite normal both running;

  }
  .css-qk5icb {
    animation: hideshow 3s ease infinite,
    animation-14lyc0o 1s cubic-bezier(0.2, 0.68, 0.18, 1.08) 0.5s infinite normal both running;

  }
}    

@keyframes hideshow {
    50% {
        opacity: 1;
        background-color: #1ED760;
    }

    100% {
        opacity: 1;
        background-color: green;
    }
}